html, body {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(178,223,219);
  background: linear-gradient(90deg, rgba(178,223,219,1) 8%, rgba(200,232,229,1) 81%, rgba(255,255,255,1) 100%);
}
form {
  padding: 20px;
  margin-top: 60px;
}
form button, form h5 {
  margin: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: #000; }
.filepond {
  margin-top: 10px;
}

#upload {
  margin-top: -3px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #f44336;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #f44336 !important;
}



.inup-intro {
  width: 50%;
  padding: 60px;
  margin: 0 auto;
  margin-top: 11%;
  display: flex;
  flex-direction: column;
}
.inup-intro-title {
  letter-spacing: 4px;
}
.inup-intro .btn:hover {
  opacity: 0.9;
}
.inup-intro .btn {
  margin-top: 4px;
}

.newinvoice {
  width: 100%;
  /*padding: 60px; */
  margin: 0 auto;
  /* margin-top: 11%; */
  display: flex;
  flex-direction: column;
}
.newinvoice-title {
  letter-spacing: 4px;
}
.newinvoice .btn:hover {
  opacity: 0.9;
}
.newinvoice .btn {
  margin-top: 4px;
}
.form-sign {
  width: 45vw;
  overflow: auto;
  
}
.zindex66 {
  z-index: 66;
}
.dashboard-icon {
  transform: scale(1.4);
  transition: 0.3s;
}
.dashboard-icon:hover {
  transform: scale(1.7);
}
.project-summary {
  padding: 0px;
  margin: 5px;
  line-height: 1.2;
}
.project-summary .card-content {
  padding: 5px;
}

.invoice-delete-card {
  padding: 25px;
  text-align: center;
}
.invoice-delete-card span {
  color: #ef5350;
  font-weight: 800;
}

.dropzone {
  border: 1px dashed grey;
  border-radius: 10px;
  text-align: center;
  background: rgba(248, 248, 248, 0.473);
  transition: 0.3s;
}
.dropzone--isActive {
  background: white;
  transition: 0.3s;
}
input[type=month] {
  background: transparent;
  color: black;
  outline: none;
  visibility: visible;
  content: 'AAA';
}
.page-buttons {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}
.page-buttons a {
  color: black;
  letter-spacing: 3px;
}
.update-form label {
  display: block;
  position: relative;
}
.client-list-item:hover {
  background: rgb(238, 237, 237);
}

@media only screen and (max-width: 600px) {
  .inup-intro {
    width: 80%;
    padding: 10px;
  }
  .nav-bar {
    height: 110px;
  }
}